{% extends 'base.html' %}

{% block title %}Seguimiento de Denuncias{% endblock %}

{% block content %}
        <div class="contenedor-centro">
            <h2>Seguimiento de denuncias</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Motivo</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                    </tr>
                </thead>

                <tbody>
                    {% for denuncia in denuncias %}
                    <tr>
                        <td>{{ denuncia.MotivosDenuncia }}</td>
                        <td>{{ denuncia.Descripcion }}</td>
                        <td>{{ denuncia.Estatus }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary btn-lg" href="{{url_for('registroDenuncia')}}">Agregar Denuncia</a> 
        </div>
    </main>
{% endblock %}