{% extends 'base.html' %}

{% block title %}Registrar Denuncia{% endblock %}

{% block content %}
        <section class="section-formulario-denuncia">
            <h2>Ingresa tu denuncia</h2>
            <div class="indicador-numero">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="grey" class="bi bi-1-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312V4.002Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="grey" class="bi bi-2-circle" viewBox="0 0 16 16">
                    <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8ZM9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312V4.002Z" />
                </svg>
            </div>
            <form id="formulario-registro-denuncia" action="/registrar-denuncia" method="POST">
                <p class="formulario-descripcion">Esta plataforma tiene como objetivo constituir un mecanismo ágil y moderno mediante el cual la ciudadanía pueda presentar denuncias por faltas cometidas que perjudiquen a la comunidad</p>
                <div class="mb-3">
                    <label for="categoria-denuncia" class="form-label">Categoría de denuncia</label>
                    <select name="categoria-denuncia" id="categoria-denuncia" class="form-control" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="opcion1">opcion1</option>
                        <option value="opcion2">opcion2</option>
                        <option value="opcion3">opcion3</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Descripción de los acontecimientos</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Describa los acontecimientos ocurridos de la manera más detallada posible " rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Default file input example</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <a id="continuar-denuncia" class="btn btn-primary btn-lg" href="{{url_for('loginUsuario')}}">Continuar</a>
            </form>
        </section>

        <section class="section-formulario-compartir d-none">
            <form id="form-compartir-denuncia" action="/compartir-denuncia" method="POST">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" id="formFile">
            </form>
        </section>
{% endblock %}