{% extends 'base.html' %}

{% block title %}Seguir Denuncia{% endblock %}

{% block content %}
        <div class="contenedor-centro">
            <h2>Seguimiento de denuncias</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- Aquí se agregarán filas dinámicamente -->
                </tbody>
            </table>
            <a class="btn btn-primary btn-lg" href="{{url_for('registroDenuncia')}}">Agregar Denuncia</a> 
        </div>
{% endblock %}