<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
</head>

<body>
    <header>
        <section class="titulo">
            <h1>DenunciaSeguro | Plataforma de Denuncias Ciudadanas</h1>
        </section>
        <nav>
            <div id="nav-opciones">
                <a class = "nav-opcion" href="index.html">Inicio</a>
                <a class = "nav-opcion" href="login.html">Búsqueda por archivo</a>
                <a class = "nav-opcion" href="registrarDenuncia.html">Registrar Denuncia</a>
                <a class = "nav-opcion" href="buscarRegistro.html">Búsqueda por archivo</a> 
            </div>
            <a class = "nav-opcion" href="login.html">Iniciar Sesión</a>
            <a class = "nav-opcion" href="admin.html">Administración</a>
        </nav>
    </header>
    
    <main>
        <div id="grid-area">
        
            <section id="historialDenuncias" class="border">Historia de denuncias</section>

            <section id="denunciasResueltas" class="border">Denuncias resueltas</section>

            <section id="formulario" class="border">
                <div >
                    <h2>Administración de denuncia</h2>
                    <form class="formulario-admin" action="#" method="post" enctype="_blank">
                        <fieldset >
                            <legend>Nuevas denuncias</legend>       

                                <div class="buscar">
                                    <input id="search" type="search" name="denuncia">
                                    <label for="search">Buscar</label>
                                </div>

                                <div class="tabla">
                                    <div class="fila titulo">
                                        <div class="columna">#</div>
                                        <div class="columna">Name</div>
                                        <div class="columna">User ID</div>
                                        <div class="columna">Fecha</div>
                                        <div class="columna">Categoria</div>
                                        <div class="columna">Status</div>
                                    </div>
                                    <div class="fila">
                                        <div class="columna">1</div>
                                        <div class="columna">Darlene Robertson</div>
                                        <div class="columna">2798</div>
                                        <div class="columna">02/07/1971</div>
                                        <div class="columna">Limpieza pública</div>
                                        <div class="columna">Active</div>
                                    </div>
                                    <div class="fila">
                                        <div class="columna">2</div>
                                        <div class="columna">Ronald Richards</div>
                                        <div class="columna">4600</div>
                                        <div class="columna">28/03/1968</div>
                                        <div class="columna">Seguridad pública</div>
                                        <div class="columna">Inactive</div>
                                    </div>
                                    <div class="fila">
                                        <div class="columna">3</div>
                                        <div class="columna">Jerome Bell</div>
                                        <div class="columna">4846</div>
                                        <div class="columna">12/08/1994</div>
                                        <div class="columna">Reporte de incidente</div>
                                        <div class="columna">Active</div>
                                    </div>
                                    <div class="fila">
                                        <div class="columna">4</div>
                                        <div class="columna">Robert Fox</div>
                                        <div class="columna">9151</div>
                                        <div class="columna">02/01/1980</div>
                                        <div class="columna">Seguridad pública</div>
                                        <div class="columna">Disabled</div>
                                    </div>
                                </div>
                            
                        </fieldset>
                
                    </form>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <img src='aaa.jpg' alt="Logo de DenunciaSeguro">
        <p>Para la atención de consultas sobre la gestión de denuncias escribir a aaa@aaa.aaa</p>
        <div class="copyright-grupo"><p>Copyright 2023 - DenunciaSeguro</p> <img src='aaa.jpg' alt="Logo de Github"></div>
    </footer>
</body>
</html>