<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="style-administracion.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
</head>

<body>
    <header>
        <section class="titulo">
            <h1>DenunciaSeguro | Plataforma de Denuncias Ciudadanas</h1>
        </section>
        <nav>
            <div id="nav-opciones">
                <a class = "nav-opcion" href="index.html">Inicio</a>
                <a class = "nav-opcion" href="login.html">Búsqueda por archivo</a>
                <a class = "nav-opcion" href="registrarDenuncia.html">Registrar Denuncia</a>
                <a class = "nav-opcion" href="buscarRegistro.html">Búsqueda por archivo</a> 
                                
            </div>
                <a class = "nav-opcion" href="administracion.html">Administración</a>
        </nav>
    </header>
    
    <main>
        <div class="contenedor-centro">
            <h2>Administración de denuncia</h2>
            <form action="#" method="post" enctype="_blank">
                <fieldset >
                    <legend>Nuevas denuncias</legend>       
                    <section class="contenedor-centro-listas">

                        <div>
                            <input id="search" type="search" name="denuncia">
                            <label for="search">Buscar</label>
                        </div>

                        <div class="contenedor-centro-listas-item">
                            <input id="check-1" type="checkbox" name="no-acepta"value="1">
                            <label>Alias1</label>
                            <label>Distrito</label>
                            <label>Descripción</label>
                            <label>Dirección</label>
                            
                        </div>
                        <div class="contenedor-centro-listas-item">
                            <input id="check-2" type="checkbox" name="no-acepta"value="2">
                            <label>Alias1</label>
                            <label>Distrito</label>
                            <label>Descripción</label>
                            <label>Dirección</label>
                            
                        </div>
                        <div class="contenedor-centro-listas-item">
                            <input id="check-3" type="checkbox" name="no-acepta"value="3">
                            <label>Alias1</label>
                            <label>Distrito</label>
                            <label>Descripción</label>
                            <label>Dirección</label>
                        </div>
                        <div class="contenedor-centro-listas-item">
                            <input id="check-4" type="checkbox" name="no-acepta"value="4">
                            <label>Alias1</label>
                            <label>Distrito</label>
                            <label>Descripción</label>
                            <label>Dirección</label>
                        </div>

                        <label for="accionesMasivas"></label>
                        <select name="accionesMasivas" id="accionesMasivas" required>
                            <option value="accionesMasivas" selected>Aciones Masiva</option>
                            <option value="eliminar">Eliminar</option>
                            <option value="actualizar">Actualizar</option>
                            <option value="publicar">Publicar</option>
                        </select>
    
                        <label for="calendar">Fecha:</label>
                        <input id="calendar" type="date" name="calendar">
            
                        <input type="submit"value="Aplicar">
                        <input type="reset"value="Exportar CSV">
                        
                    </section>
                    
                </fieldset>
        
            </form>
        </div>
    </main>

    <footer>
        <img src='aaa.jpg' alt="Logo de DenunciaSeguro">
        <p>Para la atención de consultas sobre la gestión de denuncias escribir a aaa@aaa.aaa</p>
        <div class="copyright-grupo"><p>Copyright 2023 - DenunciaSeguro</p> <img src='aaa.jpg' alt="Logo de Github"></div>
    </footer>
</body>
</html>