<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Denuncia</title>
</head>

<body>
    <header>
        <section class="titulo">
            <h1>DenunciaSeguro | Plataforma de Denuncias Ciudadanas</h1>
        </section>
        <nav>
            <div id="nav-opciones">
                <a class = "nav-opcion" href="index.html">Inicio</a>
                <a class = "nav-opcion" href="registrarDenuncia.html">Registrar Denuncia</a>
                <a class = "nav-opcion" href="seguimientoDenuncia.html">Búsqueda por archivo</a>                
            </div>
                <a class = "nav-opcion" href="login.html">Iniciar Sesión</a>
        </nav>
    </header>

    <main>
        <section class="section-formulario-denuncia">
            <h2>Ingresa tu denuncia</h2>
            <div class="indicador-numero">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="grey" class="bi bi-1-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312V4.002Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="grey" class="bi bi-2-circle" viewBox="0 0 16 16">
                    <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8ZM9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312V4.002Z" />
                </svg>
            </div>
            <form id="formulario-registro-denuncia" action="/registrar-denuncia" method="POST">
                <p class="formulario-descripcion">Esta plataforma tiene como objetivo constituir un mecanismo ágil y moderno mediante el cual la ciudadanía pueda presentar denuncias por faltas cometidas que perjudiquen a la comunidad</p>
                <div class="mb-3">
                    <label for="categoria-denuncia" class="form-label">Categoría de denuncia</label>
                    <select name="categoria-denuncia" id="categoria-denuncia" class="form-control" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="opcion1">opcion1</option>
                        <option value="opcion2">opcion2</option>
                        <option value="opcion3">opcion3</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Descripción de los acontecimientos</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Describa los acontecimientos ocurridos de la manera más detallada posible " rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Default file input example</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <a id="continuar-denuncia" class="btn btn-primary btn-lg" href="javascript:void(0);" onclick="continuarDenuncia()">Continuar</a>
            </form>
        </section>

        <section class="section-formulario-compartir d-none">
            <form id="form-compartir-denuncia" action="/compartir-denuncia" method="POST">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" id="formFile">
            </form>
        </section>
    </main>

    <footer>
        <img src='aaa.jpg' alt="Logo de DenunciaSeguro">
        <p>Para la atención de consultas sobre la gestión de denuncias escribir a aaa@aaa.aaa</p>
        <div class="copyright-grupo"><p>Copyright 2023 - DenunciaSeguro</p> <img src='aaa.jpg' alt="Logo de Github"></div>
    </footer>
</body>
</html>

<script>
    function continuarDenuncia() {
        var registroContainer = document.querySelector(".section-formulario-compartir");
        var loginForm = document.querySelector(".section-formulario-denuncia");
        var mostrarRegistroLink = document.getElementById("continuar-denuncia");

        if (registroContainer.classList.contains("d-none")) {
            registroContainer.classList.remove("d-none");
            loginForm.classList.add("d-none");
            mostrarRegistroLink.innerHTML = "Ocultar registro";
        } else {
            registroContainer.classList.add("d-none");
            loginForm.classList.remove("d-none");
            mostrarRegistroLink.innerHTML = "Continuar";
        }
    }
</script>
