<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seguimiento de denuncias</title>
</head>

<body>
    <header>
        <section class="titulo">
            <h1>DenunciaSeguro | Plataforma de Denuncias Ciudadanas</h1>
        </section>
        <nav>
            <div id="nav-opciones">
                <a class = "nav-opcion" href="index.html">Inicio</a>
                <a class = "nav-opcion" href="registrarDenuncia.html">Registrar Denuncia</a>
                <a class = "nav-opcion" href="seguimientoDenuncia.html">Búsqueda por archivo</a>                
            </div>
                <a class = "nav-opcion" href="login.html">Iniciar Sesión</a>
        </nav>
    </header>
    
    <main>
        <div class="contenedor-centro">
            <h2>Seguimiento de denuncias</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- Aquí se agregarán filas dinámicamente -->
                </tbody>
            </table>
            <a class="btn btn-primary btn-lg" href="registrarDenuncia.html">Agregar Denuncia</a> 
        </div>
    </main>

    <footer>
        <img src='aaa.jpg' alt="Logo de DenunciaSeguro">
        <p>Para la atención de consultas sobre la gestión de denuncias escribir a aaa@aaa.aaa</p>
        <div class="copyright-grupo"><p>Copyright 2023 - DenunciaSeguro</p> <img src='aaa.jpg' alt="Logo de Github"></div>
    </footer>
</body>
</html>+
