
/*----------Administración-----------*/
.formulario-admin{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
} 
.buscar{
    text-align: right;
    flex-direction: row;
    border-radius: 10px;
    justify-content:space-around;
    margin: 10px;
}
.tabla {
    width: 100%;
    border-collapse: collapse;
}
.fila {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.titulo {
    font-weight: bold;
    background-color: #f2f2f2;
    text-align: left;  
}
.columna {
    flex: 1;
    padding: 2px;
}
/* Estilos para la sección que contiene ambos gráficos */
.grafico-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  /* Estilos para las secciones de gráficos */
  .section-1, .section-2 {
    flex: 1; /* Distribuir el espacio disponible de manera equitativa */
    padding-bottom: 20px;
  }
  .grafico-titulo {
    font-family: "Rubik", sans-serif;
    color: #023047;
    font-size: 24px;
    text-align: center;
  }
  .grafico-tamanio {
    width: 150px;
  }
  .grafico-tamanio-barras {
    width: 300px;
  }
  .grafico-fondo {
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    width: fit-content;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 8px 32px;
    color: #023047;
    transition: all 400ms ease;
  }
  .grafico-fondo:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
  }
  .grafico-elementos ul {
    list-style: none;
    padding: 0;
  }
  .grafico-elementos ul li {
    font-size: 16px;
    margin: 12px 0;
    text-transform: uppercase;
  }
  .grafico-elementos .porcentaje {
    font-weight: 700;
    color: #e63946;
  }
.boton {
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según tus preferencias */
    width: 120px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
    border: 1px solid #000000; /* Agrega un borde */
    border-radius: 5px; /* Añade esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    text-align: center;
    transition: background-color 0.3s, color 0.3s; /* Agrega transiciones suaves al color de fondo y al color del texto */
    color: #fff; /* Cambia el color del texto a negro */
    text-decoration: none; /* Quita el subrayado del texto */
  }
  .boton.active {
    background-color: #2196F3; /* Fondo blanco para el estado activo */
  }
  .boton.inactive {
    background-color: #FFC107; /* Fondo blanco para el estado activo */
  }
  .boton.disabled {
    background-color: #023047; /* Fondo blanco para el estado activo */
  }
  .boton:hover {
    background-color: #4CAF50; /* Cambia el color de fondo en el hover */
    color: #000; /* Cambia el color del texto en el hover */
  }
  

form{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h2{
    color: #000;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; 
    letter-spacing: -0.8px;
    margin-bottom: 2%;
}

.busqueda-expediente{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 7px;
    width: 100%;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #545F71;
    background: #FFF;
    margin: 3% 0;
    padding: 2%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contenedor-centro-listas{
    padding: 2%;
}

.contenedor-centro-listas-item{
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid rgb(90, 89, 92); /*dotted es punteado*/
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(253, 253, 253, 0.5);
    width: 100%;
    overflow: hidden; /*scrollPara que no exceda el texto*/
}

.contenedor-centro-listas-item:hover{
    color:blue;
}

.contenedor-centro-listas-item label{
    display: inline;
    padding-right: 15%;
    
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contenedor-centro{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
    margin: 50px 10%;
    padding: 3%;
}


form{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h2{
    color: #000;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; 
    letter-spacing: -0.8px;
    margin-bottom: 2%;
}

.busqueda-expediente{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 7px;
    width: 100%;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #545F71;
    background: #FFF;
    margin: 3% 0;
    padding: 2%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contenedor-centro-listas{
    padding: 2%;
}

.contenedor-centro-listas-item{
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid rgb(90, 89, 92); /*dotted es punteado*/
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(253, 253, 253, 0.5);
    width: 100%;
    overflow: hidden; /*scrollPara que no exceda el texto*/
}

.contenedor-centro-listas-item:hover{
    color:blue;
}

.contenedor-centro-listas-item label{
    display: inline;
    padding-right: 15%;
    
}