*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

/*----------Header----------*/
header{
    display: flex;
    flex-direction: column;
    background: #D9D9D9;
}

.titulo{
    padding: 25px;
    text-align: center;
}

h1{
    color: #000;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 55% */
    letter-spacing: -0.8px;
}

.barra-nav{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 5px 30px;
}

.grupo1{
    justify-content: flex-start;
}

.grupo1{
    justify-content: flex-end;
}
/*----------Main----------*/

/*----------Seccion 01 principal----------*/
.seccion-01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
}

.container-cards{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
}

.card-a{
    display: flex;
    width: 100%;
    height: 65vh;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: #7F878F;
    scroll-snap-align: start;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.titular-texto{
    max-width: 70%;
    max-height: 60%;
    background-color: #495057;
    opacity: 0.6;
    padding: 2rem;
    color: white;
    font-size: 4rem;
}

.botones{
    display: flex;
    flex-direction: row;
    margin: 40px;
    gap: 5%;
    justify-content: center;
}

/*----------Sección 02 principal----------*/
.seccion-02{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5%;
    background-color: #D9D9D9;
}

.busqueda{
    width: 100px;
    height: 30px;
    padding: 0px 16px;
    background: #FFFFFF;
    border: none;
    color: black;
    width: auto;
}

form{
    margin-bottom: 15%;
}

/*----------Login-----------*/

.section-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form{
    width: 80%;
    padding: 4%;
}

.formulario-registro .formulario-inicio-sesion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    margin-bottom: 0;
}

.formulario-inicio-sesion{
    width: 50%;
    margin-bottom: 0;
}

.formulario-inicio-sesion .col{
    width: 70%;
}

form .btn{
    margin-top: 20px;
}

.form-label{
    padding-top: 15px;
}

.row{
    width: 80%;
}


/*----------Seguimiento de denuncias --------*/
.contenedor-centro{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 50px 10%;
    padding: 3%;
}

/*----------Registro de denuncias --------*/
h2{
    text-align: center;
    padding-top: 20px;
}

.indicador-numero{
    display: flex;
    justify-content: center;
    width: auto;
    padding: 15px;
    gap: 30px;
}

.formulario-registro-denuncia{
    background-color: #D9D9D9;
    margin: 3% 15%;
    padding: 2% 4%;
    width: 70%;
}

/*----------Footer----------*/
footer{
    background-color: #495057;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 40px;
    color: white;
}

.copyright-grupo{
    display: flex;
    flex-direction: row;
    gap: 15px;
}


/*----------Administración-----------*/
.formulario-admin{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
} 
.buscar{
    text-align: right;
    flex-direction: row;
    border-radius: 10px;
    justify-content:space-around;
    margin: 10px;
}
.tabla {
    width: 100%;
    border-collapse: collapse;
}
.fila {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.titulo {
    font-weight: bold;
    background-color: #f2f2f2;
    text-align: left;
    
    
}
.columna {
    flex: 1;
    padding: 2px;
}
#grid-area {
    display: grid;
    grid-template-areas: 
    "nav historialDenuncias denunciasResueltas"
    "nav formulario formulario";

    grid-template-rows:  0.5fr 0.5fr;
    grid-template-columns:  auto ;
    height: 100%;
    grid-gap: 10px;
    /* justify-content:center */
}
section#historialDenuncias {
    grid-area: historialDenuncias;
}
section#denunciasResueltas {
    grid-area: denunciasResueltas;
}
section#formulario {
    grid-area: formulario;
}
.border {
    background-color: rgb(240, 240, 240);
    padding: 5px;
    margin: 5px;
    border-radius: 6px;
}
.boton {
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según tus preferencias */
    width: 120px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
    color: #fff; /* Cambia el color del texto según tu preferencia */
    border: 1px solid #000000; /* Agrega un borde */
    border-radius: 5px; /* Añade esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    text-align: center;
    transition: background-color 0.3s, color 0.3s; /* Agrega transiciones suaves al color de fondo y al color del texto */
  }
  .boton.active {
    background-color: #151618; /* Fondo blanco para el estado activo */
    color: #d4d3d3; /* Cambia el color del texto en el estado activo */
  }
  .boton.inactive {
    background-color: #c2b9b7; /* Fondo blanco para el estado activo */
    color: #d4d3d3; /* Cambia el color del texto en el estado activo */
  }
  .boton.disabled {
    background-color: #ff0000; /* Fondo blanco para el estado activo */
    color: #d4d3d3; /* Cambia el color del texto en el estado activo */
  }
  .boton:hover {
    background-color: #000000; /* Cambia el color de fondo en el hover */
    color: #fff; /* Cambia el color del texto en el hover */
  }
  