*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    --color01: #D9D9D9;
    --color02: black;
    --color03: #495057;
}

/*----------Header----------*/
header{
    display: flex;
    flex-direction: column;
    background: var(--color01);
}

.titulo{
    padding: 2%;
    text-align: center;
}

h1{
    color: var(--color02);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.8px;
}

.barra-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}

.grupo2 {
    margin-left: auto;
}
/*---------- Index----------*/

/*----------Seccion 01 principal----------*/
.seccion-01{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botones{
    display: flex;
    flex-direction: row;
    padding: 4rem;
    padding-bottom: 6rem;
    gap: 5%;
    justify-content: center;
    background: linear-gradient(to bottom, white, var(--color01));
}

/*----------Sección 02 principal----------*/
.seccion-02{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4%;
    background-color: var(--color01)
}

.mapa{
    width: 40vw;
    height: 60vh;
    background-color: grey;
}

.busqueda-noticias{
    padding: 0px 16px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.d-flex{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/*----------Sección 03 principal----------*/
.seccion-03{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4%;
    gap: 2.5rem;
    background-color: var(--color01)
}

.container-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.element{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.icon-prueba{
    width: 3rem;
    height: 3rem;
    align-self: center;
    padding-bottom: 3%;
}

/*----------Login-----------*/

.section-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.formulario-registro .formulario-inicio-sesion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    margin-bottom: 0;
}

.formulario-inicio-sesion{
    width: 50%;
    margin-bottom: 0;
}

.formulario-inicio-sesion .col{
    width: 70%;
}

form .btn{
    margin-top: 20px;
}

.form-label{
    padding-top: 15px;
}

.row{
    width: 80%;
}


/*----------Seguimiento de denuncias --------*/
.contenedor-centro{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 50px 10%;
    padding: 3%;
}

/*----------Registro de denuncias --------*/

h2{
    text-align: center;
    padding-top: 2rem;
}

.indicador-numero{
    display: flex;
    justify-content: center;
    width: auto;
    padding: 15px;
    gap: 30px;
}

#seccion1, .formulario-elegir-denuncia,
#seccion2, .formulario-registro-denuncia,
#seccion3, .formulario-compartir-denuncia{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formulario-elegir-denuncia,
.formulario-registro-denuncia,
.formulario-compartir-denuncia{
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 70vw;
}

.row{
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.col-6 p, .formulario-registro-denuncia{
    text-align:justify;
    padding: 5%;
}

.motivos {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.boton-01.clicked {
    border: 2px solid red;
    border-radius: 8px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); 
    transform: translateY(2px); 
}

.boton-01{
    padding: 5%;
}

.mb-3{
    width: 100%;
}

#seccion3{
    min-height: 70vh;
}

/*----------Footer----------*/
footer{
    background-color: var(--color03);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 40px;
    color: white;
}

.copyright-grupo{
    display: flex;
    flex-direction: row;
    gap: 15px;
}



/*----------Administración-----------*/
.formulario-admin{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
} 
.buscar{
    text-align: right;
    flex-direction: row;
    border-radius: 10px;
    justify-content:space-around;
    margin: 10px;
}
.tabla {
    width: 100%;
    border-collapse: collapse;
}
.fila {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.titulo {
    font-weight: bold;
    background-color: #f2f2f2;
    text-align: left;
    
    
}
.columna {
    flex: 1;
    padding: 2px;
}
#grid-area {
    display: grid;
    grid-template-areas: 
    "nav historialDenuncias denunciasResueltas"
    "nav formulario formulario";

    grid-template-rows:  0.5fr 0.5fr;
    grid-template-columns:  auto ;
    height: 100%;
    grid-gap: 10px;
    /* justify-content:center */
}
section#historialDenuncias {
    grid-area: historialDenuncias;
}
section#denunciasResueltas {
    grid-area: denunciasResueltas;
}
section#formulario {
    grid-area: formulario;
}
.border {
    background-color: rgb(240, 240, 240);
    padding: 5px;
    margin: 5px;
    border-radius: 6px;
}
.boton {
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según tus preferencias */
    width: 120px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
    color: #fff; /* Cambia el color del texto según tu preferencia */
    border: 1px solid #000000; /* Agrega un borde */
    border-radius: 5px; /* Añade esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    text-align: center;
    transition: background-color 0.3s, color 0.3s; /* Agrega transiciones suaves al color de fondo y al color del texto */
  }
  .boton.active {
    background-color: #151618; /* Fondo blanco para el estado activo */
    color: #d4d3d3; /* Cambia el color del texto en el estado activo */
  }
  .boton.inactive {
    background-color: #c2b9b7; /* Fondo blanco para el estado activo */
    color: #d4d3d3; /* Cambia el color del texto en el estado activo */
  }
  .boton.disabled {
    background-color: #ff0000; /* Fondo blanco para el estado activo */
    color: #d4d3d3; /* Cambia el color del texto en el estado activo */
  }
  .boton:hover {
    background-color: #000000; /* Cambia el color de fondo en el hover */
    color: #fff; /* Cambia el color del texto en el hover */
  }
  
